.svg-container {
  display: inline-block;
  position: relative;
  width: 80%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: lightgrey;
  stroke: steelblue;
  stroke-width: 5px;
}

text.current {
  font-weight: bold;
  font-size: 15px;
}
#chart {
  font: 10px sans-serif;
}